{% extends 'base.html' %}

{% block content%}

<div class="col">
       <!-- Este es un comentario de HTML -->
       {#Este es un comentario de DJANGO, mejor usar este#}
       <h1>{{ message }}</h1>
       <ul class="list-group">
         {%for bussiness_list in bussiness%}
            <li class="list-group-item">{{bussiness_list.name}}
              <span class="text-success"> ${{bussiness_list.city}}</span>
              <span>{{bussiness_list.stars}}</span>
              <span>{{bussiness_list.categories}}</span>
            </li>
            
         {%endfor%}
       </ul>

     </div>

{% endblock %}
