
<div class="rate">
  <input type="radio" id="{{star_name}}star5" name="rate" value="5" />
  <label for="{{star_name}}star5" title="text">5</label>
  <input type="radio" id="{{star_name}}star4" name="rate" value="4" />
  <label for="{{star_name}}star4" title="text">4</label>
  <input type="radio" id="{{star_name}}star3" name="rate" value="3" />
  <label for="{{star_name}}star3" title="text">3</label>
  <input type="radio" id="{{star_name}}star2" name="rate" value="2" />
  <label for="{{star_name}}star2" title="text">2</label>
  <input type="radio" id="{{star_name}}star1" name="rate" value="1" />
  <label for="{{star_name}}star1" title="text">1</label>
</div>
